 ol {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue;
}
h3{
  text-align: left;
}
table {
  width: 70%;
}
td {
  text-align: center;
}
 form {
  border: 1px solid black;
  margin: 25px 50px 75px 100px;
  background-color: lightblue;
}
natvar{
  display: flex;
  align-items: center;
  padding: 20px;
} 
nav{
flex: 1;
text-align: right;
}
nav ul {
display: inline-block;
list-style-type: none;
}
nav ul li {
display: inline-block;
margin-right: 20px;
}
a{
text-decoration: none;
color:dimgrey;
}
.containor{
max-width: 1300px;
margin: auto;
padding-left: 25px;
padding-right:25;
}